/* CSS styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
    background-color: rgb(230, 230, 230, .9);
    /* background: #808080; */
}
#wrapper {
  width: 78%;
  max-width: 1100px;
  margin: 20px auto;
  /* background: #000000; */
  /* height: 300px;
  margin: 0 auto; */
}
body.home #wrapper {
  /* background: black; */
  width: 78%;
  max-width: 1100px;
  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 50px;
}
body.about #wrapper {
  width: 78%;
  max-width: 1100px;
  margin: 0 auto;

  padding-top: 100px;
  padding-bottom: 50px;
    z-index: -1;
}
body.portfolio #wrapper {
  width: 78%;
  max-width: 1100px;
  margin: 0 auto;
  background: rgba(128, 50, 128, 0.2);

  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
body.resume #wrapper {
  width: 78%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
}
body.portfolio h1{
  font-size: 2em;
  color: black;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 3em;
}
body.portfolio p {
  color: black;
}
header {
  /* margin-top: 50px; */
  height: 500px;
  width: 80%;
  margin: 0 auto;
  /* height: 100%; */
  background-image: url('../images/main.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
/* nav */
nav {
height: 50px;
/* background-color: #333; */
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color: white;
position: fixed;
width: 100%;
}
nav ul {
/* width: 1100px; */
width: 89%;
max-width: 1100px;
margin: 0 auto;
}
nav li {
float: left;
list-style-type: none;
line-height: 50px;
width: 20%;
text-align: center;
color: white;
}
nav a {
color: white;
text-decoration: none;
}
nav a:hover {
background-color: #ee0979;
color: green;
/* font-style: italic; */
display: block;
}
nav a:active {
  color: yellow;
  font-style: italic;

}
 div#sns {
  /* margin-top: 50px; */
  padding-top: 70px;
  height: 30px;
  width: 100%;
  margin-bottom: 150px;
  /* float: left; */
  /* clear: both; */
  /* position: absolute; */
}
div#sns ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 100px; */
}
div#sns img {
  width: 50px;
  text-decoration: none;
  }
/* div#sns {
  margin-top: 50px;
  height: 50px;
  width: 100%;
}
div#sns ul {
  width: 89%;
  max-width: 1100px;
  margin: 0 auto;
  }
div#sns li {
  float: left;
  list-style-type: none;
  line-height: 50px;
  width: 25%;
  text-align: center;
  color: white;
  }
div#sns img {
  width: 30%;
  text-decoration: none;
  } */

/* div#sns img:hover {
  background-color: red;
  display: block;
  } */
body.home main{
  /* height: 300px;
  float: none;
  margin: 0 auto;


  background-repeat: no-repeat;
  background-size: cover;

  width: 75%;
  height: 100%;

  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em; */


  float: left;
  width: 59.7%;
  /* width: 50%; */
  height: 400px;
  /* background-color: rgba(168,237,234,0.3); */
  margin-bottom: 50px;
  margin-right: 10px;
  /* color: black; */
}
body.home aside {
  /* margin-top: px; */
  width: 36.17%;
  /* width: 30%; */
  float: right;
  background: white;
  height: 400px;
  /* border: 1px solid black; */
}
body.home h1 {
  color: rgba(44,226,140,1);
}
body.home h4 {
  text-align: center;
}
body.home p {
  margin: 0 auto;
}
body.about main{
  height: 300px;
  float: none;
  margin: 0 auto;
  /* background-color: rgba(242, 243, 244, 0.3); */
  /* background-color: rgba(242, 243, 244, 1); */
  width: 90%;
  height: 100%;
  /* margin: auto; */
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #333;
  color: white;

}
.blueberry { max-width: 840px; }
body.portfolio main{
  /* height: 300px; */
  float: none;
  margin: 0 auto;
  /* background-image: url('../images/bouquet.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* opacity: 0.3; */
    /* background-color: rgba(168,237,234,0.3); */
  width: 95%;
  /* height: 100%; */
  /* margin: auto; */
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
body.resume main{
  float: left;
  width: 59.7%;
  /* height: 400px; */
  margin-bottom: 50px;
  background: rgba(44,226,140,0.8);
  padding-top: 50px;
  padding-bottom: 50px;
  /* color: rgba(230, 230, 230, 1); */
  color: white;
}
/* body.resume main{
  padding: 10px 30px auto 30px;
} */
body.resume aside {
  padding-top: 50px;
  padding-left: 20px;
  margin-left: 10px;
  width: 36.17%;
  float: left;
  background: white;
  height: 400px;
  /* margin: 0 auto; */
}
body.resume h1 {
  color: #ee0979;
  margin: 50px auto 0 auto;
  /* margin-bottom: 0; */
}
body.contact {
  /* opacity: 0.5; */
  background-image: url("../images/contact.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
body.contact h2 {
  color: white;
  text-align: left;
  margin-top: 30px;
  padding-bottom: 15px;
  font-style: italic;
  /* padding-left: 30px; */
}
img.contact-icon {
  width: 50px;
}
img.project {
  border: 1px red;
}
/* body.portfolio table p {
  font: white;
}
body.about td p {
  padding-left: 30px;
  padding-right: 30px;
} */
div#current {
  height: 300px;
  float: none;
  margin: 50px auto;
  padding: 50px 20px 20px 15px;
  /* background-color:#333; */
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* opacity: 0.75; */
  width: 75%;
  height: 100%;
  /* margin: auto; */
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer {
  height: 50px;
  clear: both;
  padding-bottom: 0;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: rgba(211, 211, 211, .2); */
  color: white;
}
footer li {
  float: left;
  list-style-type: none;
  line-height: 50px;
  /* margin: 0 30px 0 30px; */
  width: 25%;
  /* color: #E85484;
  font-style: italic; */
  text-align: center;
  color: 	#ff9090;
  font-weight: bold;
}

footer li:hover {
  color: white;
}
footer a {
  color: 	#ff9090;
  text-decoration: none;
}
footer a:hover {
  color: black;
  display: white;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  background: rgba(128, 50, 128, 0.1);
  border: 1px solid white;
}
th {
  padding-top: 0;;
  /* margin-top: 0; */
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  /* border: 1px solid black; */
}
td {
  /* border: 1px solid red; */
  width: 25%;
  /* vertical-align: top; */
  padding: 8px;
  margin: 0 auto;
  color: white;
}
td p {
  font-style: italic;
  font-size: 1em;
  font-family: verdana, helvetica;
}
td img {
  width: 100%;
}
img#logo {
  height: 30px;
  /* width: 30px; */
  margin: 8px auto 0 auto;
}
img#citylogo {
  margin-left: 38%;
  /* float: none; */
  margin-top: 50px;;
  /* margin: 0 auto; */
  padding: 10px 30px 10px auto;
  width: 30%;
}
img#SDOT {
  width: 60%;
  float: left;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 20px 30px 20px;
}
img#SDOT2 {
  width: 30%;
  float: right;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px 20px 30px 20px;
}
img.project {
  width: 50%;
  /* border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 20px 30px 20px; */
}
/*+++++++++++++++++++ Typography +++++++++++++++++++*/
h1 {
  color: white;
  margin: 100px auto 10px auto;
  font-family: 'alex_brushregular', Monaco, monospace;
  font-size: 3em;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
}
h2 {
  /* color: red; */
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
  /* text-decoration-color: aqua; */
}
    h3 {
      /* color: rgba(141, 255, 244); */
      margin-left: 10%;
      color: black;
      font-family: "Lucida Console", Monaco, monospace;
    }
    h4 {
      color: #333;
      font-family: "Lucida Console", Monaco, monospace;
      padding-top: 10px;
      padding-right: 30px;
      padding-left: 30px;
    }
    h5 {
      color: #333;
    }
    p {
      /* font-family: cursive; */
      font-style: italic;
      padding-top: 10px;
      padding-right: 30px;
      padding-left: 30px;
    }
    hr {
      margin-top: 50px;
      /* margin: 50px auto 50px 0; */
    }
    @font-face {
      font-family: 'alex_brushregular';
      src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
           url('../fonts/alexbrush-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    /*+++++++++++++++++++ @media +++++++++++++++++++*/
  @media screen and (max-width: 800px) {
    #wrapper {
      /* width: 940px; */
      /* margin: 20px auto; */
      width: 95%;
      /* max-width: 1100px; */
    }
    nav ul {
      /* width: 1100px; */
      width: 96%;
      /* max-width: 1100px;
      margin: 0 auto; */
    }
    /* footer li {
      width: 96%;
    } */
    main {
      float: left;
      /* width: 580px; */
      width: 56%;
    }
    /*
    aside {
      margin-top:20px;
      padding: 15px 15px 15px 15px;
      background:rgba(141, 255, 244,.6);
      width: 39%;
      float: right;
      font-style: italic;
    }
    */
  }
  /* from 700 break point, it goes to the mobile version */
  @media screen and (max-width: 700px) {
    #wrapper {
      /* width: 940px; */
      /* margin: 20px auto; */
      width: 95%;
      /* max-width: 1100px; */
    }
    nav ul {
      /* width: 1100px; */
      width: 96%;
      /* max-width: 1100px;
      margin: 0 auto; */
    }
    /* footer li {
      width: 96%;
    } */
    main {
      float: none;
      width: auto;
    }
    /*
    aside {
      border: none;
      float: none;
      width: auto;
    }
    aside img {
      display:block;
      margin: 0 auto;
    }
    */
  }
